### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Imagenes, Archivos ###
#*.png
#*.jpg
#*.jpeg
#*.xlsx

### Datos de conexión ###
AnsTek_libs/dllsPhp/libDB/configDB.php